[submodule "OSSEM-CDM"]
	path = OSSEM-CDM
	url = https://github.com/OTRF/OSSEM-CDM
	branch = master
	ignore = dirty
[submodule "OSSEM-DM"]
	path = OSSEM-DM
	url = https://github.com/OTRF/OSSEM-DM
	branch = main
	ignore = dirty
[submodule "OSSEM-DD"]
	path = OSSEM-DD
	url = https://github.com/OTRF/OSSEM-DD
	branch = main
	ignore = dirty
